.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://img.freepik.com/free-photo/top-view-fast-food-mix-mozzarella-sticks-club-sandwich-hamburger-mushroom-pizza-caesar-shrimp-salad-french-fries-ketchup-mayo-cheese-sauces-rustic-wooden-table_141793-3998.jpg');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(5px);
}

.login-card {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
  width: 400px;
  max-width: 90%;
}

.forgot-password {
  display: block;
  text-align: right;
  font-size: 12px;
  color: #666;
  margin-top: -10px;
  margin-bottom: 20px;
  text-decoration: none;
  cursor: pointer;
}

/* Button & Inputs */
.input-field {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 15px;
  outline: none;
}

.login-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background-color: #c0392b;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-button:hover { background-color: #e74c3c; }